@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    color: #000000;
    background-color: #C8F7F8;
    display: flex;
    flex-flow: row wrap;
}

h2 {
    text-align: center;
    padding: 25px;
    padding-left: 550px;
    margin: 0;
    font-weight: 600;
    font-size: 2.3em;
}


img{
    width: 300px;
    border-radius:25%;
}

.cabeçalho{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.page{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px;
    grid-gap: 10px;
}


.foto{
    width: 40%;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 20px;
    
}

.about{
    width: 60%;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.911);
    border-radius: 7px;
    padding: 25px;
    padding-bottom: 10px;
}

.form input {
    padding: 12px;
    font-size: 12px;
    background-color: #C8F7F8;
    border: 1px solid #C8F7F8;
    margin-bottom: 18px;
    margin-top: 3px;
    border-radius: 2px;
    transition: all linear 160ms;
    outline: none;
}

.form label {
    font-size: 12px;
    font-weight: 500;
}







